.bg-dark-blue {
  background-color: #003268;
}

.social-icons a {
  font-size: 1.5rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.social-icons a:hover {
  color: #007bff !important;
}
