.hero,
.container {
  margin-bottom: 4rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
  background-color: #f8f9fa !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.icon-square i {
  font-size: 2rem;
  color: #000;
}

h1,
h2,
h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #333;
}

.title-square {
  color: #fff;
}

.subtitle-square {
  color: #ffc107;
}

p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #333;
}

.history-card,
.goals-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 1.5rem;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  margin-bottom: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.history-card:hover,
.goals-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.15);
}

.history-card h3,
.goals-card h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.history-card p,
.goals-card p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  flex-grow: 1;
}

.history-card .bi-building {
  color: #007bff;
}

.history-card .bi-bar-chart-line {
  color: #28a745;
}

.history-card .bi-award {
  color: #ffc107;
}

.history-card .bi-globe {
  color: #6f42c1;
}

.goals-card .bi-shield-lock {
  color: #dc3545;
}

.goals-card .bi-lightbulb {
  color: #fd7e14;
}

.goals-card .bi-people {
  color: #17a2b8;
}

.goals-card .bi-tree {
  color: #28a745;
}

.goals-card .bi-book {
  color: #6f42c1;
}

.goals-card .bi-eye {
  color: #007bff;
}

/* Responsividade */
@media (max-width: 768px) {
  .hero {
    padding: 2rem 0;
  }

  h1,
  h2,
  h3 {
    font-size: 2rem;
  }

  .icon-square {
    width: 2.5rem;
    height: 2.5rem;
  }

  .icon-square i {
    font-size: 1.2rem;
  }

  .subtitle {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
}
